{% extends 'base.html' %}


{% block content %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}

<div class="row justify-content-center mt-4 mb-2">
    <center><h1>{% block title %} Login {% endblock  %}</h1></center>            
</div>

<form novalidate method="POST" class="form-group mb-4" action="">
    {% csrf_token %}
    <div class="row justify-content-center">
        {% comment %} <div class="col-md-6 ml-1"> {% endcomment %}
            {% comment %} <label for="fname" class="form-label ml-3 mt-3">First Name</label> {% endcomment %}
            {% comment %} {{form.first_name}} {% endcomment %}
        {% comment %} </div> {% endcomment %}
        {% comment %} <div class="col-md-6 ml-1"> {% endcomment %}
            {% comment %} <label for="lname" class="form-label ml-3 mt-3">Last Name</label> {% endcomment %}
            {% comment %} {{form.last_name}} {% endcomment %}
        {% comment %} </div> {% endcomment %}
        <div class="col-6 ml-1">
            <label for="username" name="username" class="form-label ml-3 mt-3">Nombre de usuario</label>
            {{form.username}}
        </div>
        {% comment %} <div class="col-6 ml-0"> {% endcomment %}
            {% comment %} <label for="inputAddress2" class="form-label ml-3 mt-3">E-mail</label> {% endcomment %}
            {% comment %} {{form.email}} {% endcomment %}
        {% comment %} </div> {% endcomment %}
        <div class="col-6 ml-1">
            <label for="password" name="password" class="form-label ml-3 mt-3">Contraseña</label>
            {{form.password}}
        </div>
        {% comment %} <div class="col-6 ml-0"> {% endcomment %}
            {% comment %} <label for="confirm password" class="form-label ml-3 mt-3">Confirm password</label> {% endcomment %}
            {% comment %} {{form.password2}} {% endcomment %}
        {% comment %} </div> {% endcomment %}
    </div>
        {% comment %} <div class="text-center"> {% endcomment %}
            {% comment %} <button type="submit" class="btn btn-primary ml-5 mt-5 mb-2 mr-5">Create User</button> {% endcomment %}
        {% comment %} </div> {% endcomment %}
        {% comment %} <div class="row justify-content-center mt-4 mb-0 mr-5"> {% endcomment %}
            {% comment %} {{form.errors}} {% endcomment %}
        {% comment %} </div> {% endcomment %}
        <div class="row justify-content-center ml-5 mt-4 mb-0 mr-5">
            {% for message in messages %}
                <p id="messages">{{message}}</p>
            {% endfor %}
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary ml-5 mt-3 mb-1 mr-5">Login</button>
        </div>    
        <div class="mt-4">
            <div class="d-flex justify-content-center links">
                ¿No tiene una cuenta? <a href="{% url 'editar_perfil_medico' %}" class="ml-2 mb-4">Registrese</a>
            </div>
            <div class="d-flex justify-content-center links">
                ¿Olvidó su contraseña? <a href="{% url 'reset_password' %}" class="ml-2 mb-4">Recupere su contraseña</a>
            </div>
        </div>
</form>

{% comment %} <form method="POST" class="form-group"> {% endcomment %}
    {% comment %} {% csrf_token %} {% endcomment %}
    {% comment %} {{ form | crispy }} {% endcomment %}
    {% comment %} <p>Registrese <a href="/registracion/medico">aquí</a></p> {% endcomment %}
    {% comment %} <button type="submit" class="btn btn-success">Login</button> {% endcomment %}
{% comment %} </form> {% endcomment %}

{% endblock  %}